{% extends 'LoicolasMainBundle::layout.html.twig' %}
{% block body_class %}experience{% endblock %}
{% block body %}
<section class="expereince-list">
    <h1>Expérience professionnel de Loïc Colas</h1>
    <article>
        
    </article>
</section>
    
{% endblock %}
