{% extends 'LoicolasMainBundle::layout.html.twig' %}
{% block body_class %}contact{% endblock %}
{% block body %}
<article class="presentation">                 
    <h1>Contactez-moi</h1>
    <h2>Message envoyé</h2>
    <p>Merci pour votre message.</p>
</article>
{% endblock %}